name: full-quality-assurance

on:
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [23, 24, 25]
    name: Build with Node.js ${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "@dvelop-sdk-${{github.run_id}}-${{matrix.node-version}}"
          path: |
            packages/*/lib/*
            packages/*/package.json
            packages/*/package-lock.json
            packages/*/README.md

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [23, 24, 25]
    name: Test for Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build
      - run: npm test

  lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - run: npm ci
      - run: npm run build
      - run: npm run lint

  check-license:
    name: Check license conformity
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - run: npm ci
      - run: npm run build
      - run: npm run license

  generate-docs:
    name: Generate documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - run: npm ci
      - run: npm run build
      - run: npm run docs
      - name: Upload docs
        uses: actions/upload-artifact@v4
        with:
          name: dvelop-sdk-${{github.run_id}}-docs
          path: docs
