name: publish

on:
  push:
    branches:
      - develop
      - feature/*

jobs:
  publish-next:
    if: ${{ (github.repository == 'd-velop/dvelop-sdk-node') && (github.ref == 'refs/heads/develop') }}
    name: Publish to npm as @dvelop-sdk/<package>@next
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm run build
      - run: npm run publish:next

  publish:
    if: ${{ (github.repository == 'd-velop/dvelop-sdk-node') && (github.ref == 'refs/heads/main') }}
    name: Publish to npm as @dvelop-sdk/<package>@latest
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm run build
      - run: npm run publish:latest

  publish-docs:
    if: ${{ (github.repository == 'd-velop/dvelop-sdk-node') && (github.ref == 'refs/heads/main') }}
    name: release documentation
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm run build
      - run: npm run docs
      - name: Commit docs to gh-pages
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: gh-pages
          folder: docs
